
// Variables para el modo claro.
$colorPrimario : #F2F6D0;
$colorSecundario: #6B8F71;
$colorFondo:#FDFFEA;
$colorBoton: #83C6BE;
$colorHover: #37718E;
$colorInput: #F2F6D0;
$colorletra: #76674ac5;
$colorLetrap: #0000008e;
$colorLetraInput: #76674a7c;

//Variables para el modo oscuro.
$colorPrimarioOsc : #F2F6D0;
$colorSecundarioOsc : #3E5542;
$colorBotonOsc : #6AA49D;
$colorHoverOsc : #245066;
$colorInputOsc: #b0b395;
$colorletraOsc : #F2F6D0;
$colorLetrapOsc: #F2F6D0;
$colorFondoOsc: #201F1F;
$colorLetraInputOsc: #76674a7c;