
//Variables en css para el modo claro.
[tema = "dia"] {
    --color-primario: #{$colorPrimario};
    --color-secundario: #{$colorSecundario};
    --color-fondo: #{$colorFondo};
    --color-boton: #{$colorBoton};
    --color-hover: #{$colorHover};
    --color-input: #{$colorInput};
    --color-letra: #{$colorletra};
    --color-letra-input: #{$colorLetraInput};
    --color-letra-p: #{$colorLetrap};

    //Imágenes
    --fondo-hojas: url(/src/assets/img/leafpattern.png);
    --fondo-usuario: url(/src/assets/img/leafpattern2.png);
}