[tema="noche"]{
    --color-primario: #{$colorPrimarioOsc};
    --color-secundario: #{$colorSecundarioOsc};
    --color-fondo: #{$colorFondoOsc};
    --color-boton: #{$colorBotonOsc};
    --color-hover: #{$colorHoverOsc};
    --color-input: #{$colorInputOsc};
    --color-letra: #{$colorletraOsc};
    --color-letra-input: #{$colorLetraInputOsc};
    --color-letra-p: #{$colorLetrapOsc};


//Imágenes
    --fondo-hojas: url(/src/assets/img/leafpatternosc.png);
    --fondo-usuario: url(/src/assets/img/leafpattern2osc.png);
}

