
@media  screen and (min-width: 700px){
    
    .logotipo{
        img{
            width: 210;
            height: auto;
            margin: 10px;
        }
    }
    
    
    .error{ 
        img{
            width: 250px;
            height: min-content;
            display: block;
            margin: auto;
        }
    
        .dialogo{
            width: 90vw;
            height: 300px;
            position: absolute;
            top: 640px;
            
            h5{
                width: 50%;
                height: 40px;
                padding: 60px;
                background-color: $colorPrimario;
                
                border-radius: 70px;
                display: block;
                margin: auto;
                margin-left: 20%;
                text-align: center;
            }
            
            p{
                width: max-content;
                position: absolute;
                left: 50%;
                top: 120px;
                text-align: center;
            }
            
            
            #respuesta{
                width: max-content;
                background-color: rgb(238, 237, 174);
                padding: 20px;
                border-radius: 50px;
                position: absolute;
                left: 50%;
                bottom: 280px;
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    
        .puntero{
            width: 30px;
            display: block;
            position: absolute;
            left: 62%;
            top: 600px;
            -webkit-transform: rotate(90deg);
            animation: slide 1s linear infinite;
    
            @keyframes slide {
                from {
                    left: 61.5%;
                }
                to{
                    left: 62%;
                }
            }
        }
    
    }
    
    #nombrePersonaje{
        width: 200px;
        padding: 10px;
        display: block;
        position: absolute;
        left: 23%;
        top: 600px;
        background-color: rgb(184, 158, 112);
        border-radius: 50px;
        text-align: center;
        -webkit-transform: rotate(-5deg);
    }
}

@media screen and (max-width: 700px){

    .logotipo{
        img{
            width: 210;
            height: auto;
            margin: 10px;
        }
    }
    
    
    .error{ 
        img{
            width: 250px;
            height: min-content;
            display: block;
            margin: auto;
        }
    
        .dialogo{
            width: 90vw;
            height: 300px;
            position: absolute;
            top: 640px;
            
            h5{
                width: 50%;
                height: 40px;
                padding: 65px;
                background-color: $colorPrimario;
                
                border-radius: 70px;
                display: block;
                margin: auto;
                margin-left: 15%;
                text-align: center;
            }
            
            p{
                width: max-content;
                position: absolute;
                left: 50%;
                top: 140px;
                text-align: center;
            }
            
            
            #respuesta{
                width: max-content;
                background-color: rgb(238, 237, 174);
                padding: 10px;
                border-radius: 50px;
                position: absolute;
                left: 45%;
                bottom: 280px;
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    
        .puntero{
            width: 30px;
            display: block;
            position: absolute;
            left: 50%;
            top: 610px;
            -webkit-transform: rotate(90deg);
            animation: slide 1s linear infinite;
    
            @keyframes slide {
                from {
                    left: 49.5%;
                }
                to{
                    left: 50%;
                }
            }
        }
    
    }
    
    #nombrePersonaje{
        width: 120px;
        padding: 10px;
        display: block;
        position: absolute;
        left: 15%;
        top: 630px;
        background-color: rgb(184, 158, 112);
        border-radius: 50px;
        text-align: center;
        -webkit-transform: rotate(-7deg);
    }
}