//resets ,variabbles y mixins

// Variables para el modo claro.
$colorPrimario : #F2F6D0;
$colorSecundario: #6B8F71;
$colorFondo:#FDFFEA;
$colorBoton: #83C6BE;
$colorHover: #37718E;
$colorletra: #76674ac5;
$colorLetrap: #0000008e;
$colorLetraInput: #76674a7c;

//Variables para el modo oscuro.
$colorPrimarioOsc : #201F1F;
$colorSecundarioOsc : #3E5542;
$colorBotonOsc : #6AA49D;
$colorHoverOsc : #245066;
$colorLetraOsc : #F2F6D0;
$colorFondoOsc: #201F1F;


*{
    margin : 0;
    padding: 0;
    box-sizing : border- boss;
}

html{
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
}

body{
    background-color: $colorFondo;
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Sura';
    color: $colorletra;
    font-weight: bold;
}

h1{
    font-size: calc(0.75em + 4vw);
}

h2{
    font-size: calc(0.5em + 3.5vw);
}

h3{
    font-size:  calc(1em + 3vw);
}

h4{
    font-size: calc(1em + 2.5vw);
}

h5{
    font-size: calc(1em + 1vw);
}

h6{
    font-size:calc(1em + 1.5vw);
}

.p-desktop{
    font-size: calc(1em + 1.25vw);
    font-weight: bold;
    color: $colorLetrap;
}

p{
    font-size: 16px;
    font-weight: bold;
    color: $colorLetrap;
}

