.carta{
    
}


.caracteristicas{
    width: 80vw;
    margin: 120px;
    padding: auto;
    
    h5,p{
        margin-bottom: 10px;
        width: 700px;
    }
    img{
        height: max-content;
        float: right;
    }
    
}
