
.formulario{
    background-image: var(--fondo-hojas);
    background-repeat: repeat;
    background-size: 10rem;
    
    text-align: center;
    width: 50%;
    height: max-content;
    border-radius: 50px;
    margin: auto;
    margin-top: 87px;
    margin-bottom: 100px;
    padding: 20px;

    h2{
        display: block;
        margin: auto;
        color: var(--color-letra);
    }
    
    input{
        width: 50%;
        height: 40px;
        background-color: var(--color-input);
        border: none;
        display: block;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 40px;
        border-radius: 10px;
        
    }

    
    a{
        color: var(--color-letra);
        text-decoration: none;
        font-size: calc(0.7em + 0.3vw);
        font-weight:bolder;
        top: 0px;
        
        margin-bottom: 10px;
    }

    ::placeholder{
        color: var(--color-letra-input);
        font-weight:600;
        font-size: calc(0.5em + 0.5vw);
    }
    

    .enviar{
        width: 200px;
        margin-bottom: 20px;
        color: var(--color-primario);
        font-weight:600;
        font-size: 1rem;
        
    }

}

.imagenBienvenida{

    img{
        width: 327px;
        height:309px;
        position: fixed;
        bottom: 47px;
        right: 0;
    }
}