@import url("https://fonts.google.com/specimen/Sura?query=sura");
@import url("https://fonts.google.com/specimen/M+PLUS+Rounded+1c?query=rounded+");
* {
  margin: 0;
  padding: 0;
  box-sizing: border- boss;
}

html {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background-color: var(--color-fondo);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sura";
  color: var(--color-letra);
  font-weight: bold;
}

h1 {
  font-size: calc(0.75em + 4vw);
}

h2 {
  font-size: calc(0.5em + 3.5vw);
}

h3 {
  font-size: calc(1em + 3vw);
}

h4 {
  font-size: calc(1em + 2.5vw);
}

h5 {
  font-size: calc(1em + 1vw);
}

h6 {
  font-size: calc(1em + 1.5vw);
}

.p-desktop {
  font-size: calc(1em + 1.25vw);
  font-weight: bold;
  color: var(--color-letra-p);
}

p {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-letra-p);
}

header {
  background-color: var(--color-secundario);
  width: 100%;
  height: 100px;
}
header .logo {
  width: 150px;
  height: auto;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
header .inicioSesion {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 15px;
}
header .headerbusqueda {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 15px;
}
header .headerbusqueda .busqueda {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 10px;
}
header .headerbusqueda .busqueda img {
  width: 32px;
  height: 32px;
}
header .headerbusqueda input {
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  color: var(--color-primario);
  font-weight: 800;
}
header .headerbusqueda input:focus {
  outline: none;
}
header .headerbusqueda input::-moz-placeholder {
  color: var(--color-primario);
  font-size: 16px;
  font-weight: bolder;
}
header .headerbusqueda input:-ms-input-placeholder {
  color: var(--color-primario);
  font-size: 16px;
  font-weight: bolder;
}
header .headerbusqueda input::placeholder {
  color: var(--color-primario);
  font-size: 16px;
  font-weight: bolder;
}
header .headerbusqueda .img-favorito, header .headerbusqueda .imagenredonda {
  margin-right: 5px;
}
header p {
  color: #F2F6D0;
  font-family: "Sura";
  margin-right: 15px;
  font-size: 1.25em;
  margin-right: 20px;
  cursor: pointer;
}
header a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: "Sura";
  font-size: large;
  font-size: 1.5em;
  font-weight: bold;
}
header a :visited {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header .fav {
    display: none;
  }
  header .corazon {
    margin-right: 10px;
  }
}
footer {
  background-color: var(--color-secundario);
  position: static;
  bottom: 0vh;
  width: 100%;
  height: 80px;
}
footer a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: "Sura";
  font-size: large;
  font-size: 1.5em;
  font-weight: bold;
}
footer a :visited {
  text-decoration: none;
}
footer .footer .redes {
  display: absolute;
  justify-items: flex-start;
  margin: 20px;
  margin-right: 8px;
}
footer .footer p {
  display: absolute;
  float: right;
  margin: 25px;
  font-size: 1rem;
}
footer .footerSesion {
  margin-top: 327px;
  position: static;
  bottom: 0vh;
}
footer .footerSesion .redes {
  display: absolute;
  justify-items: flex-start;
  margin: 20px;
  margin-right: 8px;
}
footer .footerSesion p {
  display: absolute;
  float: right;
  margin: 25px;
  font-size: 1rem;
}

.footerOceano {
  background-color: var(--color-fondo);
  background-image: url("../img/footerOceano.png");
  background-repeat: repeat-x;
}

[tema=dia] {
  --color-primario: #F2F6D0;
  --color-secundario: #6B8F71;
  --color-fondo: #FDFFEA;
  --color-boton: #83C6BE;
  --color-hover: #37718E;
  --color-input: #F2F6D0;
  --color-letra: rgba(118, 103, 74, 0.7725490196);
  --color-letra-input: rgba(118, 103, 74, 0.4862745098);
  --color-letra-p: rgba(0, 0, 0, 0.5568627451);
  --fondo-hojas: url(/src/assets/img/leafpattern.png);
  --fondo-usuario: url(/src/assets/img/leafpattern2.png);
}

[tema=noche] {
  --color-primario: #F2F6D0;
  --color-secundario: #3E5542;
  --color-fondo: #201F1F;
  --color-boton: #6AA49D;
  --color-hover: #245066;
  --color-input: #b0b395;
  --color-letra: #F2F6D0;
  --color-letra-input: rgba(118, 103, 74, 0.4862745098);
  --color-letra-p: #F2F6D0;
  --fondo-hojas: url(/src/assets/img/leafpatternosc.png);
  --fondo-usuario: url(/src/assets/img/leafpattern2osc.png);
}

.btn-large-desktop {
  width: 30%;
  height: 50px;
  color: var(--color-primario);
  font-size: large;
  font-weight: bold;
}

.btn-medium-desktop {
  width: 170px;
  height: 50px;
  color: var(--color-primario);
  font-size: large;
  font-weight: 800px;
}

button {
  width: 75px;
  height: 40px;
  background-color: var(--color-boton);
  border: var(--color-boton);
  border-radius: 40px;
}

button:hover {
  background-color: var(--color-hover);
  color: var(--color-primario);
}

@media screen and (min-width: 900px) {
  .inicio {
    display: flex;
    flex-flow: row;
    min-width: 100%;
    height: auto;
  }
  .inicio .imagen2 {
    background-image: var(--fondo-hojas);
    background-repeat: repeat;
    background-size: 20rem;
    width: 50%;
    height: 90vh;
  }
  .inicio .imagen2 img {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 220px;
    justify-content: center;
  }
  .inicio .bienvenida {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 80vh;
  }
  .inicio .bienvenida h1 {
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
  }
  .inicio .bienvenida p {
    font-size: 24px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
  }
  .inicio .bienvenida button {
    margin-bottom: 50px;
  }
  .inicio .bienvenida .redesSociales {
    display: block;
    position: absolute;
    bottom: 0px;
  }
  .inicio .bienvenida .redesSociales .redes {
    padding: 5px;
  }
  .personaje {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    position: absolute;
    bottom: 0%;
    right: 10px;
  }
  .personaje .personajes {
    width: 22%;
    height: auto;
  }
}
@media screen and (max-width: 900px) {
  header a {
    font-size: 1.1em;
  }
  header button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .inicio .imagen2 {
    background-image: var(--fondo-hojas);
    background-repeat: repeat;
    background-size: 40rem;
    width: 100%;
    height: 50vh;
  }
  .inicio .imagen2 img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 55px;
  }
  .inicio .bienvenida {
    display: inline;
    text-align: center;
    margin: 20px;
  }
  .inicio .bienvenida button {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 300px;
  }
  .inicio .bienvenida p {
    font-size: 20px;
  }
  .inicio .bienvenida .redesSociales {
    display: inline-block;
    position: absolute;
    bottom: 35.5%;
    left: 30%;
    align-items: center;
  }
  .inicio .bienvenida .redesSociales .redes {
    padding: 10px;
  }
  .inicio .personaje {
    display: inline;
  }
  .inicio .personaje #isabelle {
    display: none;
  }
  .inicio .personaje .personajes {
    width: 8vh;
    height: auto;
    position: static;
  }
}
.formulario {
  background-image: var(--fondo-hojas);
  background-repeat: repeat;
  background-size: 10rem;
  text-align: center;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 50px;
  margin: auto;
  margin-top: 87px;
  margin-bottom: 100px;
  padding: 20px;
}
.formulario h2 {
  display: block;
  margin: auto;
  color: var(--color-letra);
}
.formulario input {
  width: 50%;
  height: 40px;
  background-color: var(--color-input);
  border: none;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  border-radius: 10px;
}
.formulario a {
  color: var(--color-letra);
  text-decoration: none;
  font-size: calc(0.7em + 0.3vw);
  font-weight: bolder;
  top: 0px;
  margin-bottom: 10px;
}
.formulario ::-moz-placeholder {
  color: var(--color-letra-input);
  font-weight: 600;
  font-size: calc(0.5em + 0.5vw);
}
.formulario :-ms-input-placeholder {
  color: var(--color-letra-input);
  font-weight: 600;
  font-size: calc(0.5em + 0.5vw);
}
.formulario ::placeholder {
  color: var(--color-letra-input);
  font-weight: 600;
  font-size: calc(0.5em + 0.5vw);
}
.formulario .enviar {
  width: 200px;
  margin-bottom: 20px;
  color: var(--color-primario);
  font-weight: 600;
  font-size: 1rem;
}

.imagenBienvenida img {
  width: 327px;
  height: 309px;
  position: fixed;
  bottom: 47px;
  right: 0;
}

.imagenRedonda {
  width: 32px;
  height: 32px;
  border-radius: 150px;
}

@media screen and (min-width: 800px) {
  .contactanos {
    width: 100%;
    height: 87vh;
    display: flex;
  }
  .contactanos .contactar1 {
    background-image: var(--fondo-hojas);
    background-repeat: repeat;
    background-size: 20rem;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .contactanos .contactar1 h2 {
    margin-top: 10px;
    color: var(--color-primario);
    background-color: var(--color-boton);
    margin-top: 40px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 70px 70px 100 100;
  }
  .contactanos .contactar1 h6 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    color: var(--color-letra);
  }
  .contactanos .contactar1 #mabel {
    height: 30vh;
    width: auto;
    position: relative;
    bottom: 0px;
  }
  .contactanos .contactar2 {
    width: 50%;
    margin-left: 80px;
    padding-top: 10%;
  }
  .contactanos .contactar2 label {
    color: var(--color-letra);
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .contactanos .contactar2 input {
    width: 60%;
    height: 30px;
    background-color: var(--color-input);
    border-radius: 5px;
    border: none;
    display: block;
  }
  .contactanos .contactar2 textarea {
    width: 60%;
    height: 200px;
    background-color: var(--color-input);
    border-radius: 5px;
    border: none;
    display: block;
    margin-bottom: 30px;
  }
  .contactanos .contactar2 button {
    display: inline-block;
    width: 150px;
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contactanos .contactar2 .redesSociales {
    position: fixed;
    bottom: 0;
    right: 50px;
  }
}
@media screen and (max-width: 800px) {
  header input, header .favorito, header .busqueda {
    display: none;
  }
  header p {
    font-size: 1rem;
  }
  .contactanos {
    width: 100%;
    height: 90vh;
    background-image: var(--fondo-hojas);
    background-repeat: repeat;
    background-size: 40rem;
  }
  .contactanos .contactar1 {
    display: block;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }
  .contactanos .contactar1 h2 {
    margin-top: 10px;
    color: var(--color-primario);
    background-color: var(--color-boton);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 70px 70px 100 100;
  }
  .contactanos .contactar1 img {
    width: 20vh;
    height: auto;
    position: fixed;
    bottom: 0vh;
    right: 10px;
  }
  .contactanos .contactar2 label {
    color: var(--color-letra);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20%;
  }
  .contactanos .contactar2 input {
    width: 60%;
    height: 30px;
    background-color: var(--color-input);
    border-radius: 5px;
    border: none;
    display: block;
    margin-left: 20%;
  }
  .contactanos .contactar2 textarea {
    width: 60%;
    height: 100px;
    background-color: var(--color-input);
    border-radius: 5px;
    border: none;
    display: block;
    margin-bottom: 30px;
    margin-left: 20%;
  }
  .contactanos .contactar2 button {
    width: 40%;
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30%;
  }
  .contactanos .contactar2 .redesSociales {
    position: fixed;
    bottom: 0;
    left: 10px;
  }
  .contactanos .contactar2 .redesSociales .redes {
    width: 3vh;
    margin: 5px;
  }
}
.filtrado {
  float: right;
}
.filtrado label {
  color: var(--color-letra);
  font-size: 1.5rem;
  font-weight: bold;
}

.lista {
  display: flex;
}
.lista .vecinos {
  width: 200px;
  height: 170px;
}
.lista .peces {
  width: 200px;
  height: 170px;
}
.lista .musica {
  width: 200px;
  height: 200px;
}
.lista .col-0, .lista .col-1, .lista .col-2, .lista .col-3 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7.5%;
  padding-top: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.lista .icono {
  width: 25px;
  margin-right: 10px;
}
.lista .info {
  margin-left: 10px;
  margin-bottom: 10px;
}
.lista button {
  margin-left: 15%;
  width: 122px;
  height: 44px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primario);
  margin-bottom: 100px;
}

@media screen and (min-width: 1075px) {
  .carta {
    width: 75vw;
    height: 55vh;
    margin: 120;
    padding: 30px;
    background-color: var(--color-primario);
    border: 2px solid var(--color-letra-input);
    border-radius: 50px;
  }
  .carta .informacion {
    display: flex;
  }
  .carta .informacion .visual {
    width: 340px;
    height: 550px;
    border: transparent;
    border-right: 2px solid var(--color-letra-input);
  }
  .carta .informacion .visual #pato-icono {
    position: absolute;
    top: 300px;
    left: 140px;
  }
  .carta .informacion .visual #fav-icono {
    width: 40px;
    height: auto;
    position: absolute;
    top: 300px;
    left: 420px;
  }
  .carta .informacion .visual #miranda {
    width: 250px;
    margin: 40px;
    margin-top: 100px;
  }
  .carta .informacion .informacion-1 {
    float: right;
    width: 80%;
    margin-top: 75px;
  }
  .carta .informacion .informacion-1 .info, .carta .informacion .informacion-1 .info-1, .carta .informacion .informacion-1 .info-2, .carta .informacion .informacion-1 .info-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    margin-bottom: 20px;
  }
  .carta .informacion .informacion-1 .info #genero, .carta .informacion .informacion-1 .info-1 #genero, .carta .informacion .informacion-1 .info-2 #genero, .carta .informacion .informacion-1 .info-3 #genero {
    width: 14px;
    margin-left: 5px;
  }
  .carta .informacion .informacion-1 .info .lema, .carta .informacion .informacion-1 .info-1 .lema, .carta .informacion .informacion-1 .info-2 .lema, .carta .informacion .informacion-1 .info-3 .lema {
    width: 40vw;
  }
  .carta .informacion .informacion-1 h1 {
    position: absolute;
    top: 260px;
    left: 50%;
  }
  .carta .informacion .informacion-1 p {
    width: 150px;
    background-color: var(--color-fondo);
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid var(--color-letra-input);
    border-radius: 20px;
    text-align: center;
  }
  .carta .informacion .informacion-1 .titulo {
    color: var(--color-letra);
  }
  .caracteristicas {
    width: 80vw;
    margin: 120px;
    padding: auto;
  }
  .caracteristicas h5, .caracteristicas p {
    margin-bottom: 10px;
    width: 700px;
  }
  .caracteristicas img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    float: right;
    margin-top: 100px;
  }
  .especie {
    margin: 120px;
  }
  .especie h5 {
    margin-bottom: 10px;
  }
  .especie .scroll {
    line-height: 3em;
    display: flex;
    padding: 10px;
    margin-bottom: 40px;
    overflow: scroll;
  }
  .especie .scroll img {
    margin-right: 50px;
  }
  .especie #volver {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1075px) {
  .carta {
    width: 74vw;
    height: 860px;
    display: block;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    background-color: var(--color-primario);
    border: 2px solid var(--color-letra-input);
    border-radius: 50px;
  }
  .carta .informacion {
    display: flex;
  }
  .carta .informacion .visual {
    width: 72vw;
    height: 350px;
    border: transparent;
    border-bottom: 2px solid var(--color-letra-input);
  }
  .carta .informacion .visual #pato-icono {
    position: absolute;
    top: 240px;
    left: 15%;
  }
  .carta .informacion .visual #fav-icono {
    width: 40px;
    height: auto;
    position: absolute;
    top: 240px;
    left: 80%;
  }
  .carta .informacion .visual #miranda {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 25px;
  }
  .carta .informacion .informacion-1 {
    width: 40%;
    margin-top: 350px;
    position: absolute;
    left: 13vw;
  }
  .carta .informacion .informacion-1 .info, .carta .informacion .informacion-1 .info-1, .carta .informacion .informacion-1 .info-2, .carta .informacion .informacion-1 .info-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-bottom: 20px;
    margin-left: 13%;
  }
  .carta .informacion .informacion-1 .info #genero, .carta .informacion .informacion-1 .info-1 #genero, .carta .informacion .informacion-1 .info-2 #genero, .carta .informacion .informacion-1 .info-3 #genero {
    width: 14px;
    margin-left: 5px;
  }
  .carta .informacion .informacion-1 .info .lema, .carta .informacion .informacion-1 .info-1 .lema, .carta .informacion .informacion-1 .info-2 .lema, .carta .informacion .informacion-1 .info-3 .lema {
    width: 60vw;
  }
  .carta .informacion .informacion-1 h1 {
    margin-top: 20px;
    margin-left: 60%;
  }
  .carta .informacion .informacion-1 p {
    width: 19.5vw;
    background-color: var(--color-fondo);
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid var(--color-letra-input);
    border-radius: 20px;
    text-align: center;
  }
  .carta .informacion .informacion-1 .titulo {
    color: var(--color-letra);
  }
  .caracteristicas {
    margin: 15vw;
    padding: auto;
  }
  .caracteristicas h5, .caracteristicas p {
    margin-bottom: 10px;
    width: 65vw;
  }
  .caracteristicas img {
    display: none;
  }
  .especie {
    margin: 15vw;
  }
  .especie h5 {
    margin-bottom: 10px;
  }
  .especie .scroll {
    line-height: 3em;
    display: flex;
    padding: 10px;
    margin-bottom: 5vw;
    overflow: scroll;
  }
  .especie .scroll img {
    width: 30vw;
    margin-right: 50px;
  }
  .especie #volver {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }
}
.usuario {
  width: 90%;
  height: 800px;
  background-image: var(--fondo-usuario);
  background-repeat: repeat;
  background-size: 70rem;
  border-radius: 40px;
  display: block;
  margin: auto;
}
.usuario .imagen-usuario {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  border-bottom: 2px solid var(--color-letra);
}
.usuario .imagen-usuario button {
  position: absolute;
  top: 47vh;
  left: 25%;
}
.usuario hr {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 100px;
}
.usuario .info-usuario {
  margin: 40px;
}
.usuario .info-usuario h5 {
  margin-left: 10%;
  margin-bottom: 10px;
}
.usuario .info-usuario button {
  display: block;
  margin: auto;
  position: relative;
  bottom: 0px;
}

.mostrar-favorito {
  margin: 40px;
  margin-left: 10%;
}
.mostrar-favorito .lista img {
  width: 150px;
  height: auto;
  margin: 20px;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .logotipo img {
    width: 210;
    height: auto;
    margin: 10px;
  }
  .error img {
    width: 250px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: block;
    margin: auto;
  }
  .error .dialogo {
    width: 90vw;
    height: 300px;
    position: absolute;
    top: 640px;
  }
  .error .dialogo h5 {
    width: 50%;
    height: 40px;
    padding: 60px;
    background-color: var(--color-primario);
    border-radius: 70px;
    display: block;
    margin: auto;
    margin-left: 20%;
    text-align: center;
  }
  .error .dialogo p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 120px;
    text-align: center;
  }
  .error .dialogo #respuesta {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: rgb(238, 237, 174);
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 280px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }
  .error .puntero {
    width: 30px;
    display: block;
    position: absolute;
    left: 62%;
    top: 600px;
    -webkit-transform: rotate(90deg);
    -webkit-animation: slide 1s linear infinite;
            animation: slide 1s linear infinite;
  }
  @-webkit-keyframes slide {
    from {
      left: 61.5%;
    }
    to {
      left: 62%;
    }
  }
  @keyframes slide {
    from {
      left: 61.5%;
    }
    to {
      left: 62%;
    }
  }
  #nombrePersonaje {
    width: 200px;
    padding: 10px;
    display: block;
    position: absolute;
    left: 23%;
    top: 600px;
    background-color: rgb(184, 158, 112);
    border-radius: 50px;
    text-align: center;
    -webkit-transform: rotate(-5deg);
  }
}
@media screen and (max-width: 700px) {
  .logotipo img {
    width: 210;
    height: auto;
    margin: 10px;
  }
  .error img {
    width: 250px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: block;
    margin: auto;
  }
  .error .dialogo {
    width: 90vw;
    height: 300px;
    position: absolute;
    top: 640px;
  }
  .error .dialogo h5 {
    width: 50%;
    height: 40px;
    padding: 65px;
    background-color: var(--color-primario);
    border-radius: 70px;
    display: block;
    margin: auto;
    margin-left: 15%;
    text-align: center;
  }
  .error .dialogo p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 140px;
    text-align: center;
  }
  .error .dialogo #respuesta {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: rgb(238, 237, 174);
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    left: 45%;
    bottom: 280px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }
  .error .puntero {
    width: 30px;
    display: block;
    position: absolute;
    left: 50%;
    top: 610px;
    -webkit-transform: rotate(90deg);
    -webkit-animation: slide 1s linear infinite;
            animation: slide 1s linear infinite;
  }
  @-webkit-keyframes slide {
    from {
      left: 49.5%;
    }
    to {
      left: 50%;
    }
  }
  @keyframes slide {
    from {
      left: 49.5%;
    }
    to {
      left: 50%;
    }
  }
  #nombrePersonaje {
    width: 120px;
    padding: 10px;
    display: block;
    position: absolute;
    left: 15%;
    top: 630px;
    background-color: rgb(184, 158, 112);
    border-radius: 50px;
    text-align: center;
    -webkit-transform: rotate(-7deg);
  }
}/*# sourceMappingURL=main.css.map */